@import '../sass/main.sass';

body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.red{
    color: #BA1A1A;
}

.glitchGun{
    display: flex;
    align-items: center;
}

main img{
    width: 40vw;
    height: auto;
    padding: 10px;
}

/* HACKER PAGE */
/* Homepage */

header.hackerHeader{
    height: 100vh;
    background-image: url('../static/images/backgroundHacker.jpg')
}

.scrolling{
    position: relative;
    width: 100%;
    height: 100%;
}

.scrolling::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#scroll a {
    padding-top: 70px;
}
#scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


.scrolling a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scrolling a:hover {
    opacity: .5;
}

/* Main */

main.hackerMain{
    background-image: url('../static/images/backgroundHacker.jpg');
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#acces{
    text-align: center;
}

div#acces h1{
    text-transform: uppercase;
    font-size: 1000%;
    margin:0;
}

.passwordHacker{
    width: 30vw;
    height:52vh;
    background-color: #000000B0;
    border-radius: 10px;
    text-align: center;
    margin-top: 5vh;
}

.passwordHacker h3{
    font-size: 400%;
    margin: 0;
    text-transform: uppercase;
    padding:3%;
}

.passwordHacker h4#fck{
    font-size: 900%;
    margin: 0;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
}

.passwordHacker h4#titleFormHacker{
    text-transform: uppercase;
    font-size: 300%;
    margin: 0;
}


.passwordHacker input{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
}

/* Navigation Hacker Page */

nav.navigationHacker{
    margin-top: 10vh;
    width: 100vw;
}

nav.navigationHacker ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:0;
}

nav.navigationHacker a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 300%;
}

nav.navigationHacker a:hover{
    color: #BA1A1A;
}