@import '../sass/main.sass';

@font-face {
  font-family:"Carton";
  src: url('../fonts/Carton.ttf');
}

@font-face {
  font-family:"Checkpoint-Charlie";
  src: url('../fonts/Checkpoint-Charlie.ttf');
}

body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.red{
    color: #BA1A1A;
}

.hide{
  display: none;
}

/* Governement Page */

/* Header */

header.headerGovernement{
  background-image: url('../static/images/backgroundHomePage.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.textscroll{
  position: absolute;
  width: 50%;
  font-family: sans-serif;
  font-size: 25px;
  line-height: 30px;
  transition: .5s;
  animation: slideUp 20s;
  opacity: 0;
  color: #FFF;
  text-align: center;
}

.container_2{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  animation: opacity 25s;
  transition: 2s;
}

.container_3{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barre{
  width: 30%;
  height: 10%;
  background-color: #FFF;
  border-radius: 5%;
}

.tr{
  color: #FFF;
  font-size: 30px;
}

#timer{
  color: #FF0000;
  font-size: 100px;
}

.container_4{
  font-size: 25px;
  color: #FFF;
  width: 78%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* Keyframes */

@keyframes opacity{
  0%{
      opacity: 0;
  }

  85% {
      opacity: 0;
  }

  100%{
      opacity: 1;
  }
}

@keyframes slideUp{
  0% {
      transform: translateY(800px);
      opacity: .9;
  }

  5% {
      opacity: 1;
  }

  90% {
      transform: translateY(75px);
      opacity: 1;
  }

  100% {
      transform: translateY(75px);
      opacity: 0;
  }
}

/* Main Governement Page */

main .welcome{
  width: 100vw;
  height: 70vh;
  background-color: #000D1C;
  color: #FFFFFF;
  position: relative;
}

main .infosHome{
  display: flex;
}

main .imageWelcome{
  background-image: url('../static/images/americanFlag.jpg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 20%;
  margin: 0 auto;
}

main .welcome h3#welcome{
  font-size: 450%;
  text-transform: uppercase;
  padding-left: 10vw;
  margin-top: 5vh;
}

main .welcome p{
  padding-left: 20vw;
  font-size: 160%;
  width: 500px;
  line-height: 25px;
  margin-top: 5vh;
}

/* Best Spot */

main .bestSpot{
  background-color: #FFFFFF;
  border-radius: 7px;
  width: 430px;
  height: 250px;
  position: absolute;
  right: 20px;
  bottom: -30px;
  box-shadow: 1px 1px #000, -1px 0 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #close{
  width: 18px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 5px;
}

main .bestSpot h3{
  color: #000;
  font-size: 350%;
  padding-left: 10%;
}

main .bestSpot img{
  padding-left: 10%;
  width: 80%;
  height: auto;
}

/* Content Infos Governement Page */

.contentStats .infosPurge{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin-top: -2px;
}

/* Community Governement Page */

.ourCommunity h3{
  font-size: 450%;
}

.ourCommunity .tweetCommunity{
  width: 80vw;
  display: flex;
  margin: 0 auto;
}

.ourCommunity .tweetCommunity .tweetLeft{
  width: 50%;
}

.ourCommunity .tweetCommunity .tweetRight{
  width: 50%;
}

.ourCommunity .tweetCommunity img{
  width: 90%;
}

.glitchGun{
    display: flex;
    align-items: center;
}

main img{
    width: 40vw;
    height: auto;
    padding: 10px;
}
