@import '../sass/main.sass';

@font-face {
  font-family:"Carton";
  src: url('../fonts/Carton.ttf');
}

@font-face {
  font-family:"Checkpoint-Charlie";
  src: url('../fonts/Checkpoint-Charlie.ttf');
}

body{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.red{
    color: #BA1A1A;
}

.hide{
  display: none;
}

.overflowY{
  overflow-y: hidden;
}

.background{
  background-image: url('../static/images/backgroundHacker.jpg');
  color:#FFF;
}

.line{
  width: 7vw;
  height: 3px;
  background-color: #000;
  margin-bottom: 40px;
  margin-top: -40px;
}

.lineW{
  width: 7vw;
  height: 3px;
  background-color: #FFF;
  margin-bottom: 40px;
  margin-top: -40px;
}

/* Governement Page */
/* Header */

#voicePurge{
  display: none;
}

header.headerGovernement{
  background-image: url('../static/images/backgroundHomePage.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#button_play{
  width: 35px;
  padding: 0;
  position: absolute;
  top: 0vh;
  left: 0vh;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgba(39, 189, 64, 0.315);
  border-width: 1px;
  border-image: 0%;
  border-style: hidden;
  border-radius: 50%;
}

#button_stop{
  width: 35px;
  padding: 0;
  position: absolute;
  top: 8vh;
  left: 0vh;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgba(189, 39, 39, 0.315);
  border-width: 1px;
  border-image: 0%;
  border-style: hidden;
  border-radius: 50%;
}

.textscroll{
  position: absolute;
  width: 50%;
  margin-left: 30px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 25px;
  line-height: 30px;
  transition: .5s;
  animation: slideUp 15s;
  opacity: 0;
  color: #FFF;
  text-align: center;
}

.container_2{
  width: 50%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  animation: opacity 20s;
  transition: 2s;
}

.container_3{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barre{
  width: 30%;
  height: 10%;
  background-color: #FFF;
  border-radius: 5%;
}

.tr{
  color: #FFF;
  font-size: 30px;
  font-family: 'Roboto';
}

#timer{
  color: #FF0000;
  font-size: 100px;
}

.container_4{
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 30px;
}

.days{
  width: 25%;
  display: flex;
  justify-content: center;
}

.hours{
  width: 25%;
  display: flex;
  justify-content: center;
}

.minutes{
  width: 25%;
  display: flex;
  justify-content: center;
}

.secondes{
  width: 25%;
  display: flex;
  justify-content: center;
}

@keyframes opacity{
  0%{
      opacity: 0;
  }

  85% {
      opacity: 0;
  }

  100%{
      opacity: 1;
  }
}

@keyframes slideUp{
  0% {
      transform: translateY(850px);
      opacity: .9;
  }

  5% {
      opacity: 1;
  }

  90% {
      transform: translateY(10px);
      opacity: 1;
  }

  100% {
      transform: translateY(10px);
      opacity: 0;
  }
}

/* Main Governement Page */

main .welcome{
  width: 100vw;
  height: 300px;
  background-color: #000D1C;
  color: #FFFFFF;
  position: relative;
}

main .infosHome{
  display: flex;
}

main .imageWelcome{
  background-image: url('../static/images/americanFlag.jpg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 20%;
  margin: 0 auto;
}

main .welcome h3#welcome{
  font-size: 450%;
  text-transform: uppercase;
  padding-left: 10vw;
  margin-top: 5vh;
}

main .welcome p{
  padding-left: 20vw;
  font-size: 160%;
  width: 500px;
  line-height: 25px;
  margin-top: 5vh;
}

/* Best Spot */

main .bestSpot{
  background-color: #FFFFFF;
  border-radius: 7px;
  width: 430px;
  height: 250px;
  position: absolute;
  right: 20px;
  bottom: -30px;
  box-shadow: 1px 1px #000, -1px 0 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #close{
  width: 18px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 5px;
}

main .bestSpot h3{
  color: #000;
  font-size: 350%;
  padding-left: 10%;
  margin: 0;
}

main .bestSpot img{
  padding-left: 10%;
  width: 80%;
  height: auto;
}

/* Content Infos Governement Page */

.contentStats .infosPurge{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin-top: -4px;
}

/* Community Governement Page */

.ourCommunity h3{
  font-size: 450%;
  padding-left: 10vw;
}

.ourCommunity .tweetCommunity{
  width: 80vw;
  display: flex;
  margin: 0 auto;
}

.ourCommunity .tweetCommunity .tweetLeft{
  width: 50%;
}

.ourCommunity .tweetCommunity .tweetRight{
  width: 50%;
}

.ourCommunity .tweetCommunity img{
  width: 90%;
}

/* Form Community Governement Page */

.formCommunity h3{
  font-size: 280%;
  color: #707070;
}

.form{
  height: 60px;
  width: 800px;
  margin: 0 auto;
  background-image: url('../static/images/americanFlag2.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 120px;
}

#buttonForm{
  position: absolute;
  right: 100px;
  top: 17px;
  height: 25px;
  width: 75px;
  background-color: #5A6B8F;
  border: none;
  color: #FFF;
}

.formCommunity input#formText{
  width: 200px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.formCommunity input#formEmail{
  width: 400px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.formCommunity p{
  color: #707070;
  margin:0;
  margin-left: 60%;

}
/* Map interactive */

.bePrepared{
  position: relative;
}

.bePrepared h3#titleBePrepared{
  font-size: 450%;
  padding-left: 10vw;
}

.bePrepared .map{
  margin-left: 5vw;
  position: relative;
  width: 90vw;
}

.bePrepared .map .mapAll{
  width: 100%;
}

/* Filter */

.filterMap {
  width: 300px;
  height: 200px;
  background-color: #FFF;;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 10px;
}

.filterMap .research{
  display: flex;
  justify-content: space-between;
}

.filterMap .research h5{
  font-size: 130%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.filterMap .filterAllIco h3{
  font-size: 130%;
  margin: 0;
}

.filterMap .filterAllIco{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterMap .filterIcoTop{
  display: flex;
  text-align: center;
  margin-bottom: 4px;
}

.filterMap .filterAllIco img{
  width: 48px;
  height: auto;
  padding: 2px;
}

.filterMap .filterIcoBottom{
  display: flex;
  text-align: center;
}

/* Notification Live Twitch */

#buttonLive1{
  position: absolute;
  top: 300px;
  right: 250px;
  width: 23px;
}

#buttonLive2{
  position: absolute;
  bottom: 150px;
  right: 320px;
  width: 23px;
}

#buttonLive3{
  position: absolute;
  bottom: 250px;
  left: 550px;
  width: 23px;
}

/* Notification Security Camera */

#securityCamera1{
  position: absolute;
  top: 300px;
  right: 400px;
  width: 50px;
}

#securityCamera2{
  position: absolute;
  bottom: 130px;
  right: 320px;
  width: 50px;
}

#securityCamera3{
  position: absolute;
  bottom: 320px;
  left: 550px;
  width: 50px;
}

/* Video Twitch */

.videoTwitch{
  width: 300px;
  height: 250px;
  background-color: #FFF;
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: 35%;
}

.videoTwitch .headerVideo{
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
}

.videoTwitch .headerVideo h3{
  margin-left: 2%;
}

.videoTwitch .headerVideo #date{
  margin-left: 5%;
}

.videoTwitch img{
  width: 48px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 4px;
}

.twitchPopUp{
  width: 90%;
  margin-left: 5%;
}

#closeVideo1{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

#closeVideo2{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

#closeVideo3{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

.videoSecurity{
  width: 300px;
  height: 220px;
  background-color: #FFF;
  border-radius: 5px;
  position: absolute;
  left: 40%;
  top: 35%;
}

.securityPopUp{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.headerVideoSecurity h3{
  margin: 0;
  text-align: center;
  padding-top: 5%;
  font-size: 200%;
}

#closeVideo4{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

#closeVideo5{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

#closeVideo6{
  width: 16px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* Gun's Advice */

.gunAdvice{
  position: relative;
}

.gunAdvice h3#titleGun{
  font-size: 450%;
  padding-left: 10vw;
}

.gunAdvice .gunsCard1{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.gunAdvice .gunsCard1 img{
  width: 100%;
}

.gunAdvice .gunsCard2{
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

.gunAdvice .gunsCard2 img{
  width: 100%;
}

.gun{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gun p{
  margin: 0;
  font-size: 200%;
}

.gun h3{
  font-size: 300%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Video Hacker */

.videoHCK{
  width: 80vw;
  height: auto;
  position: absolute;
  left: 10%;
  top: -100px;
  z-index: 50;
}

/* Glitch */

.glitchFont {
font-size: 130px;
line-height: 1;
font-weight: 700;
position:absolute;
top: -5vh;
left: 10vw;
transform: translate(-50%, -50%);
margin: 0;
text-decoration: none;
color: #000;
}

.glitchFont:before {
color: #B22234;
z-index: -1;
animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
display: block;
content: 'Be prepared';
position: absolute;
top: 0;
left: 10vw;
height: 100%;
width: 100%;
opacity: .8;
}

.glitchFont:after {
color: #3C3B6E;
z-index: -2;
animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
display: block;
content: 'Be prepared';
position: absolute;
top: 0;
left: 10vw;
height: 100%;
width: 100%;
opacity: .8;
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
}
  20% {
    -webkit-transform: translate(-3px, 3px);
    transform: translate(-3px, px)
}
  40% {
    -webkit-transform: translate(-3px, -3px);
    transform: translate(-3px, -3px)
}
  60% {
    -webkit-transform: translate(3px, 3px);
    transform: translate(3px, 3px)
}
  80% {
    -webkit-transform: translate(3px, -3px);
    transform: translate(3px, -3px)
}
  to {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

.imgGunG{
  background-image: url('../static/images/gun_U.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 380px;
}

.imgGunG2{
  background-image: url('../static/images/gun_S.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 380px;
}

.imgGunG3{
  background-image: url('../static/images/gun_R.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 380px;
}

.imgGunG4{
  background-image: url('../static/images/gun_F.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 380px;
}

.imgGunG5{
  background-image: url('../static/images/gun_L.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 380px;
}

.glitchImage:before{
  content:"";
  position: absolute;
  width: 300px;
  height: 380px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  background-image: url('../static/images/gun_U.png');
  background-size: cover;
  animation: animate 0.3s linear infinite;
}

.glitchImage2:before{
  content:"";
  position: absolute;
  right: 120px;
  width: 300px;
  height: 380px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  background-image: url('../static/images/gun_S.png');
  background-size: cover;
  animation: animate 0.3s linear infinite;
}

.glitchImage3:before{
  content:"";
  position: absolute;
  width: 300px;
  height: 380px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  background-image: url('../static/images/gun_R.png');
  background-size: cover;
  animation: animate 0.3s linear infinite;
}

.glitchImage4:before{
  content:"";
  position: absolute;
  width: 300px;
  height: 380px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  background-image: url('../static/images/gun_F.png');
  background-size: cover;
  animation: animate 0.3s linear infinite;
}

.glitchImage5:before{
  content:"";
  position: absolute;
  width: 300px;
  height: 380px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  background-image: url('../static/images/gun_L.png');
  background-size: cover;
  animation: animate 0.3s linear infinite;
}

@keyframes animate{
  0%
	{
		background-position: 0 0;
    filter: hue-rotate(0deg);
	}
  10%
  {
    background-position: 5px 0;
  }
  20%
	{
		background-position: -5px 0;
	}
	30%
	{
		background-position: 15px 0;
	}
	40%
	{
		background-position: -5px 0;
	}
	50%
	{
		background-position: -25px 0;
	}
	60%
	{
		background-position: -50px 0;
	}
	70%
	{
		background-position: 0 -20px;
	}
	80%
	{
		background-position: -60px -20px;
	}
	81%
	{
		background-position: 0 0;
	}
	100%
	{
		background-position: 0 0;
    filter: hue-rotate(360deg);
	}
}

